<header class="header">
    <img src="assets/wordle-log.png" alt="wordle" class="header__logo">
    <nav class="header__nav">
        <ul class="header__list">
            <li class="header__list-item"><a href="/Highscore" class="header__link">HighScores</a></li>
            <li class="header__list-item"><a href="/AboutUs" class="header__link">About Us</a></li>
            <li class="header__list-item"><a href="/" class="header__link">Play</a></li>
        </ul>
</header>