<header>
    <img src="" alt="" class="header__logo">
    <nav class="header__nav">
        <ul class="header__list">
            <li class="header__list-item"><a href="">HighScores</a></li>
            <li class="header__list-item"><a href="">About Us</a></li>
            <li class="header__list-item"><a href="">Play</a></li>
        </ul>
</header>