<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/main.css">
</head>

<body>
    <%- include('./partials/header.ejs') %>
        <main>
            <div class="hero">
                <h1>About Us</h1>
            </div>
            <div class="content">
                <div class="story">
                    <h2>Our Story</h2>
                    <p>
                        Wordle was born out of a love for words and puzzles. The idea was to create a game that
                        challenges the mind, yet is simple and fun to play. The goal of Wordle is not just to guess a
                        word, but to do so with a limited number of attempts. This adds a layer of strategy and
                        thoughtfulness to the game. Every guess becomes a clue, every letter a potential step towards
                        victory. It's a game that celebrates the beauty and complexity of language, and we hope it
                        brings you as much joy to play as it brought us to create.
                    </p>
                </div>

                <h2 class="team-header">Our Team</h2>
                <div class="team">
                    <div class="member">
                        <img src="assets/profile-worlde.jpeg" alt="Team Member">
                        <h3>Marshall Mathers</h3>
                        <p>Lead Developer</p>
                    </div>
                    <div class="member">
                        <img src="assets/profile-worlde.jpeg" alt="Team Member">
                        <h3>William Vesterberg</h3>
                        <p>Designer</p>
                    </div>
                    <div class="member">
                        <img src="assets/profile-worlde.jpeg" alt="Team Member">
                        <h3>Sven-göran Blixt</h3>
                        <p>Marketing</p>
                    </div>
                </div>
            </div>
        </main>
        <%- include('./partials/footer.ejs') %>
</body>

</html>